<a href="https://colab.research.google.com/github/nikhilnigam0406/Basic-Html-Css-Codes/blob/main/index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python
# Introduction

In [18]:
print("Nikhil" + " Nigam")
a= 10; b =25
c=a+b
d=a*b
e=a/b
print(c)
print(d)
print(e)
print("Kiet","Group","of","institution\nGhaziabad")
# Sepeartor
print("MCA","MBA","BTECH","MTECH","BPHRAMA","MPHARMA", sep='/')
print("first","second","gmail",".","com",sep='@')
print("hello",end=" ")
print("world")
print("KIET",end=" mca ")
print("Dept")
# multiple value
print("Technocrates\n"*10)

Nikhil Nigam
35
250
0.4
Kiet Group of institution
Ghaziabad
MCA/MBA/BTECH/MTECH/BPHRAMA/MPHARMA
first@second@gmail@.@com
hello world
KIET mca Dept
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates
Technocrates

# **Data Type**

In [34]:
# Int
print(4)
print(type(42))
#float
print(.1)
print(type(0.1))
print(type(1.15e84))
print(type(5+7j))
#string
print('DELHI')
print("Delhi")
print(type('''Hello Eveyone
Today is the first day of the class
'''))
#list->different values store container, they are mutable data means ordered list. Create with square Bracket
a = ['Cat ', 'Day ', 54, " list"]
print(a)
print(a[2])
print(type(a))
#Tuple->Immutable data store means no change and rest all features list.Create with small parenthesis.
c = ('5',8,547.5)
print(type(c))
# Doubt
# c[0] = ("1")
# print(type(c))

4
<class 'int'>
0.1
<class 'float'>
<class 'float'>
<class 'complex'>
DELHI
Delhi
<class 'str'>
['Cat ', 'Day ', 54, ' list']
54
<class 'list'>
<class 'tuple'>

TypeError: ignored

In [1]:
print("hello")

hello